---
import { Book, Page, Recording, and, db, desc, eq } from "astro:db";
import Layout from "../../layouts/Layout.astro";
import YouTubeEmbed from "../../components/embeds/YouTubeEmbed.astro";
import ArchiveEmbed from "../../components/embeds/ArchiveEmbed.astro";
import { getYear } from "../../utils/dates";

export async function getStaticPaths() {
  const pages = await db
    .select({
      page: Page.page,
      bookSlug: Book.slug,
    })
    .from(Page)
    .innerJoin(Book, eq(Book.slug, Page.bookSlug));

  return pages.map(page => ({
    params: {
      bookSlug: page.bookSlug,
      pageNumber: page.page
    }
  }));
};

const { bookSlug, pageNumber } = Astro.params;

const [page] = await db
  .select({
    pageNumber: Page.page,
    tuneName: Page.tuneName,
    bookSlug: Page.bookSlug,
    bookName: Book.name,
    year: Book.year,
  })
  .from(Page)
  .innerJoin(Book, and(eq(Book.slug, bookSlug), eq(Page.page, pageNumber)));

const recordings = await db
  .select({
    id: Recording.id,
    singing: Recording.singing,
    date: Recording.date,
    recordist: Recording.recordist,
    url: Recording.url,
    embedUrl: Recording.embedUrl,
  })
  .from(Recording)
  .where(and(eq(Recording.bookSlug, page.bookSlug), eq(Recording.page, pageNumber), eq(Recording.status, "CONFIRMED")))
  .orderBy(desc(Recording.date), desc(Recording.id));
---
<Layout title={`Recordings of ${page.pageNumber} ${page.tuneName}`}>
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="./">{page.bookName}</a></li>
    <li>{page.pageNumber}</li>
  </ul>

  <h1>{page.bookName} ({page.year}) &mdash; {page.pageNumber} {page.tuneName}</h1>

  {recordings.map(recording => {
    const isYouTube = recording.embedUrl.includes("youtube.com");
    const isArchive = recording.embedUrl.includes("archive.org");
    return (
      <div class="recording">
        {recording.singing}, {getYear(recording.date)} recorded by {recording.recordist}:

        {isArchive && (
          <ArchiveEmbed src={recording.embedUrl} />
        )}
        {isYouTube && (
          <YouTubeEmbed src={recording.embedUrl} />
        )}
      </div>
    )}
  )}
</Layout>

<style>
  .recording {
    padding-bottom: 4rem;
  }
</style>
