---
import { Book, Page, Recording, and, asc, db, desc, eq, ne } from "astro:db";
import Layout from "../../layouts/Layout.astro";
import ArchiveLink from "../../components/embeds/ArchiveLink.astro";
import YouTubeEmbed from "../../components/embeds/YouTubeEmbed.astro";
import { getYear } from "../../utils/dates";

export async function getStaticPaths() {
  const pages = await db
    .select({
      page: Page.page,
      bookSlug: Page.bookSlug,
    })
    .from(Page);

  return pages.map(page => ({
    params: {
      bookSlug: page.bookSlug,
      pageNumber: page.page
    }
  }));
};

const { bookSlug, pageNumber } = Astro.params;

const [page] = await db
  .select({
    pageNumber: Page.page,
    tuneName: Page.tuneName,
    bookSlug: Page.bookSlug,
    bookName: Book.name,
    year: Book.year,
  })
  .from(Page)
  .innerJoin(Book, and(eq(Book.slug, bookSlug), eq(Page.bookSlug, bookSlug), eq(Page.page, pageNumber)));

const recordings = await db
  .select({
    id: Recording.id,
    singing: Recording.singing,
    date: Recording.date,
    recordist: Recording.recordist,
    url: Recording.url,
    embedUrl: Recording.embedUrl,
  })
  .from(Recording)
  .where(and(eq(Recording.bookSlug, page.bookSlug), eq(Recording.page, pageNumber), eq(Recording.status, "CONFIRMED")))
  .orderBy(desc(Recording.date), desc(Recording.id));

// get other tunes with same name
const tunes = await db
  .select({
    page: Page.page,
    tuneName: Page.tuneName,
    bookSlug: Page.bookSlug,
    bookName: Book.name,
    bookYear: Book.year
  })
  .from(Page)
  .where(and(eq(Page.tuneName, page.tuneName), ne(Page.bookSlug, page.bookSlug)))
  .innerJoin(Book, and(eq(Book.slug, Page.bookSlug)))
  .orderBy(asc(Page.tuneName), asc(Book.name), desc(Book.year))
---
<Layout title={`Recordings of ${page.pageNumber} ${page.tuneName}`}>
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="./">{page.bookName}</a></li>
    <li>{page.pageNumber}</li>
  </ul>

  <h1>{page.bookName} ({page.year}) &mdash; {page.pageNumber} {page.tuneName}</h1>

  {recordings.map(recording => {
    const isYouTube = recording.embedUrl.includes("youtube.com");
    const isArchive = recording.embedUrl.includes("archive.org");
    return (
      <div class="recording">
        {recording.singing}, {getYear(recording.date)} recorded by {recording.recordist}:

        {isArchive && (
          <ArchiveLink href={recording.embedUrl} />
        )}
        {isYouTube && (
          <YouTubeEmbed src={recording.embedUrl} />
        )}
      </div>
    )}
  )}

  {tunes.length > 0 && (
    <hr />
    <p>Same tune name in other books:</p>
  )}
  <ul>
    {tunes.map(tune => (
      <li><a href={`/${tune.bookSlug}/${tune.page}`}>{tune.tuneName}</a> {tune.bookName} ({tune.bookYear}), pg. {tune.page}</li>
    ))}
  </ul>
</Layout>

<style>
  .recording {
    padding-bottom: 4rem;
  }
</style>
