---
import { Book, Page, asc, db, eq } from 'astro:db';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const books = await db
    .select({
      slug: Book.slug,
    })
    .from(Book);

  return books.map(book => ({
    params: {
      bookSlug: book.slug,
    }
  }))
}

const { bookSlug } = Astro.params;

const [book] = await db
  .select({
    slug: Book.slug,
    name: Book.name,
    year: Book.year,
  })
  .from(Book)
  .where(eq(Book.slug, bookSlug));

const pages = await db
  .select({
    page: Page.page,
    tuneName: Page.tuneName
  })
  .from(Page)
  .where(eq(Page.bookSlug, book.slug))
  .orderBy(asc(Page.pageSort));
---

<Layout title={`Index of Recordings from ${book.name} (${book.year})`}>
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>{book.name}</li>
  </ul>

  <h1>{book.name} ({book.year})</h1>

  <ul>
    {pages.map(page => (
      <li><a href={`/${book.slug}/${page.page}`}>{page.page} {page.tuneName}</a></li>
    ))}
  </ul>
</Layout>
