---
import { Book, Page, and, asc, count, db, eq, isNotNull } from 'astro:db';
import Layout from '../../layouts/Layout.astro';
import { Lesson } from 'astro:db';

export async function getStaticPaths() {
  const books = await db
    .select({
      slug: Book.slug,
    })
    .from(Book);

  return books.map(book => ({
    params: {
      bookSlug: book.slug,
    }
  }))
}

const { bookSlug } = Astro.params;

const [book] = await db
  .select({
    slug: Book.slug,
    name: Book.name,
    year: Book.year,
  })
  .from(Book)
  .where(eq(Book.slug, bookSlug));

const pages = await db
  .select({
    page: Page.page,
    tuneName: Page.tuneName,
    hasLesson: isNotNull(Lesson.id),
    lessonsCount: count(Lesson.id)
  })
  .from(Page)
  .where(eq(Page.bookSlug, book.slug))
  .orderBy(asc(Page.pageSort))
  .leftJoin(Lesson, and(eq(Lesson.page, Page.page), eq(Lesson.bookSlug, Page.bookSlug)))
  .groupBy(Page.id);
---

<Layout title={`Index of Recordings from ${book.name} (${book.year})`}>
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>{book.name}</li>
  </ul>

  <h1>{book.name} ({book.year})</h1>

  {book.slug === 'cb-2012' && (
    <p>Note: Cooper Book songs from non-Cooper Book singings have not yet been divided by year of revision</p>
  )}

  <p></p>

  <button>Show pages without recordings</button>

  <ul id="pages" class="hide-empty-pages">
    {pages.map(page => {
      const recordingsPlural = page.lessonsCount === 1 ? "recording" : "recordings";

      if (page.hasLesson) return (
        <li><a href={`/${book.slug}/${page.page}`}>{page.page} {page.tuneName}</a> ({page.lessonsCount} {recordingsPlural})</li>
      )
      return (
        <li class="no-recordings"><a href={`/${book.slug}/${page.page}`}>{page.page} {page.tuneName}</a> ({page.lessonsCount} {recordingsPlural})</li>
      )}
    )}
  </ul>
</Layout>

<script>
  const pageList = document.getElementById('pages');
  const button = document.getElementsByTagName('button')[0];

  button.addEventListener('click', () => {
    pageList?.classList.toggle('hide-empty-pages');
    if (button.innerText === 'Show pages without recordings') {
      button.innerText = 'Hide pages without recordings'
    } else {
      button.innerText = 'Show pages without recordings'
    }
  })

</script>

<style>
#pages.hide-empty-pages {
  .no-recordings {
    display: none;
  }
}

.no-recordings,
.no-recordings a {
  color: dimgray;
  text-decoration-style: dashed;
}
</style>
