---
import { Book, Lesson, Page, Recording, and, db, desc, eq, gte, sql } from 'astro:db';
import Layout from '../layouts/Layout.astro';
import RecordingLink from '../components/embeds/RecordingLink.astro';

const lessons = await db
  .select({
    singing: Recording.singing,
    date: Recording.date,
    recordist: Recording.recordist,
    page: Lesson.page,
    bookSlug: Lesson.bookSlug,
    url: Lesson.url,
    embedUrl: Lesson.embedUrl,
    createdAt: Recording.createdAt,
    tuneName: Page.tuneName,
    bookName: Book.name,
    bookYear: Book.year
  })
  .from(Lesson)
  .innerJoin(Book, and(eq(Book.slug, Lesson.bookSlug)))
  .innerJoin(Page, and(eq(Page.page, Lesson.page), eq(Page.bookSlug, Lesson.bookSlug)))
  .innerJoin(Recording, eq(Recording.id, Lesson.recordingId))
  .orderBy(desc(Recording.createdAt))
  .where(gte(Recording.createdAt, sql`datetime('now', '-1 days')`))
---

<Layout>
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>Recent additions</li>
  </ul>

  <h1>Recent Additions</h1>
  <table>
    <thead>
      <tr>
        <th>Tune</th>
        <th>Singing</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {lessons.map(lesson => {

        return (
          <tr>
            <td><a href={`${lesson.bookSlug}/${lesson.page}`}>{lesson.page} {lesson.tuneName}</a><br />{lesson.bookName} ({lesson.bookYear})</td>
            <td>{lesson.singing}<br />Recorded by {lesson.recordist}</td>
            <td>
              <RecordingLink href={lesson.url} />
            </td>
          </tr>
        )}
      )}
    </tbody>
  </table>
</Layout>
