---
import { Book, Recording, db, eq } from 'astro:db';
import Layout from '../layouts/Layout.astro';

const recordings = await db
  .select({
    singing: Recording.singing,
    year: Recording.year,
    recordist: Recording.recordist,
    page: Recording.page,
    bookSlug: Recording.bookSlug,
    url: Recording.url,
    bookName: Book.name,
  })
  .from(Recording)
  .innerJoin(Book, eq(Recording.bookSlug, Book.slug));
---

<Layout>
  <table>
    <thead>
      <tr>
        <th>Singing</th>
        <th>Year</th>
        <th>Book & Page</th>
        <th>Recorded By</th>
      </tr>
    </thead>
    <tbody>
      {recordings.map(recording => (
        <tr>
          <td><a href={recording.url} target="_blank">{recording.singing}</a></td>
          <td>{recording.year}</td>
          <td>{recording.bookName} {recording.page}</td>
          <td>{recording.recordist}</td>
        </tr>
      ))}
    </tbody>
  </table>
</Layout>
