---
import { Book, Lesson, Page, Recording, and, asc, db, desc, eq, ne } from "astro:db";
import Layout from "../../../layouts/Layout.astro";
import { getNormalizedComparisionPage, getNormalizedCurrentPage } from "../../../utils/tune-name-comparisons";
import LessonsList from "../../../components/embeds/LessonsList.astro";

export async function getStaticPaths() {
  const pages = await db
    .select({
      page: Page.page,
      bookSlug: Page.bookSlug,
    })
    .from(Page);

  return pages.map(page => ({
    params: {
      bookSlug: page.bookSlug,
      pageNumber: page.page
    }
  }));
};

const { bookSlug, pageNumber } = Astro.params;

const [page] = await db
  .select({
    pageNumber: Page.page,
    tuneName: Page.tuneName,
    bookSlug: Page.bookSlug,
    bookName: Book.name,
    year: Book.year,
  })
  .from(Page)
  .innerJoin(Book, and(eq(Book.slug, bookSlug), eq(Page.bookSlug, bookSlug), eq(Page.page, pageNumber)));

const lessons = await db
  .select({
    id: Lesson.id,
    singing: Recording.singing,
    date: Recording.date,
    recordist: Recording.recordist,
    url: Lesson.url,
    embedUrl: Lesson.embedUrl,
  })
  .from(Lesson)
  .innerJoin(Recording, eq(Recording.id, Lesson.recordingId))
  .where(and(eq(Lesson.bookSlug, page.bookSlug), eq(Lesson.page, pageNumber)))
  .orderBy(desc(Recording.date), desc(Lesson.id));

// get other tunes with same name
const tunes = await db
  .select({
    page: Page.page,
    tuneName: Page.tuneName,
    bookSlug: Page.bookSlug,
    bookName: Book.name,
    bookYear: Book.year
  })
  .from(Page)
  .where(and(
    // eq(Page.tuneName, page.tuneName),
    eq(getNormalizedComparisionPage(Page), getNormalizedCurrentPage(page)),
    ne(Page.bookSlug, page.bookSlug)
  ))
  .innerJoin(Book, and(eq(Book.slug, Page.bookSlug)))
  .orderBy(asc(Page.tuneName), asc(Book.name), desc(Book.year))

const youTubeSearchLink = encodeURI(`https://www.youtube.com/results?search_query=${page.bookName} ${pageNumber}`);
---
<Layout title={`Recordings of ${page.pageNumber} ${page.tuneName}`}>
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href={`/${bookSlug}`}>{page.bookName}</a></li>
    <li>{page.pageNumber}</li>
  </ul>

  <h1>{page.bookName} ({page.year}) &mdash; {page.pageNumber} {page.tuneName}</h1>

  {lessons.length === 0 && (
    <p>No recordings yet&hellip;</p>
  )}

  <LessonsList lessons={lessons} />

  <hr />
  <p>Note: The recordings collected on this site are mostly ones it's hard to search for. You may find additional recordings via a simple <a href={youTubeSearchLink} target="_blank">YouTube search</a>.</p>

  {tunes.length > 0 && (
    <hr />
    <h2>Same Tune Name In Other Books</h2>
  )}
  <ul>
    {tunes.map(tune => (
      <li><a href={`/${tune.bookSlug}/${tune.page}`}>{tune.tuneName}</a> {tune.bookName} ({tune.bookYear}), pg. {tune.page}</li>
    ))}
  </ul>
</Layout>

<style>
  .recording {
    padding-bottom: 4rem;
  }
</style>
